
@font-face {
  font-family: "SolaimanLipiNormal";
  src: local('SolaimanLipiNormal'), local('solaimanlipi'), url('./assets/fonts/solaimanlipi.woff') format('woff');
  /* font-display: swap;
  unicode-range: U+0980-09FF; */
  /* local('SolaimanLipiNormal'), url('solaimanlipi.woff') format('woff') */
}


.sub_menu_area {
  width: calc(100% - 64px);
}

tr:nth-child(even) {background-color: #F0F0F0;}
.print_canvas{
  display: none;
}

@media print {
  @page {
    margin-top: 10px;
    margin-bottom: 0;
    background-color: white;
  }
  .print_canvas{
    display: block;
  }
  .hidden_in_print{
    display: none;
  }
  body  {
    background-color: white;
    width: 100%;
  }
  main{
    width: 100%;
    background-color: white !important; 
  }
  table tr, td{
    background-color: white;
  }
}