.animate-pulse-custom {
  animation: pulse-custom 1.5s cubic-bezier(0.8, 0, 0.8, 1) infinite;
}

@keyframes pulse-custom {

  0%,
  100% {
    background-color: #e5e7eb;
    /* Light gray */
  }

  50% {
    background-color: #d1d5db;
    /* Darker gray */
  }
}

.animation_label+label {
  height: 100%;
  z-index: 22;
  pointer-events: none;
}

.animation_label:focus+label,
.animation_label+label.active {
  transform: translateY(-80%) !important;
}
.input-table > div{
  box-shadow: none;
}
.input-table input{
  width: 100px;
  background: transparent;
  height: 100%;
}
.input-table td{
  padding-top: 0;
  padding-bottom: 4px;
} 
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 50px !important;
}
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
  background: rgb(205, 208, 215);
}
::-webkit-scrollbar-track {
  background: rgb(244, 246, 250);
}
::selection {
  color: rgb(255, 255, 255);
  text-shadow: none;
  background: rgb(61, 94, 225);
}
/* .table-container {
    width: 100%;

    overflow-x: auto;   
  } */

/* 
:root {
  --loading-grey: #ededed;
}
.card {
  width: 320px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, .12);
}


.loading .image,
.loading h4,
.loading .description {
  background-color: var(--loading-grey);
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, .5) 50%,
    rgba(255, 255, 255, 0) 60%
  ) var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.loading h4 {
  min-height: 1.6rem;
  border-radius: 4px;
  animation-delay: .05s;
}

.loading .description {
  min-height: 4rem;
  border-radius: 4px;
  animation-delay: .06s;
} */

@font-face {
  font-family: "SolaimanLipiNormal";
  src: local('SolaimanLipiNormal'), local('solaimanlipi'), url('./assets/fonts/solaimanlipi.woff') format('woff');
  /* font-display: swap;
  unicode-range: U+0980-09FF; */
  /* local('SolaimanLipiNormal'), url('solaimanlipi.woff') format('woff') */
}
@font-face {
  font-display: swap;
  font-family: SutonnyMJ;
  src: url("./assets/fonts/SutonnyMJ.ttf") format("truetype")
}

/* @font-face {
  font-family: 'Kalpurush';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url('./assets/fonts/kalpurush/kalpurush-v0.256.eot');
  src: url('./assets/fonts/kalpurush/kalpurush-v0.256.woff') format('woff'),
    url('./assets/fonts/kalpurush/kalpurush-v0.256.ttf') format('truetype'),
    url('./assets/fonts/kalpurush/kalpurush-v0.256.svg#AdorshoLipi') format('svg'),
    url('./assets/fonts/kalpurush/kalpurush-v0.256.eot?#iefix') format('embedded-opentype');
  unicode-range: U+0951-0952, U+0964-0965, U+0980-09FE, U+1CD0, U+1CD2, U+1CD5-1CD6, U+1CD8, U+1CE1, U+1CEA, U+1CED, U+1CF2, U+1CF5-1CF7, U+200C-200D, U+20B9, U+25CC, U+A8F1;
} */
@font-face {
  font-family: 'Kalpurush';
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 100%;
  font-display: swap;
  src: url('/assets/fonts/kalpurush-v0.256.woff') format('woff'),
    url('/assets/fonts/kalpurush-v0.256.ttf') format('truetype'),
    url('/assets/fonts/kalpurush-v0.256.svg#AdorshoLipi') format('svg'),
    url('/assets/fonts/kalpurush-v0.256.eot?#iefix') format('embedded-opentype');
}


.sub_menu_area {
  width: calc(100% - 64px);
}

tr:nth-child(even) {
  background-color: #F0F0F0;
}

.print_canvas {
  display: none;
}

/* .Toastify__toast{
  padding-top: 0;
  padding-bottom: 0;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  margin-bottom: 0;
} */

@media print {
  @page {
    margin-top: 10px;
    margin-bottom: 0;
    background-color: white;
  }

  @page portrait-page {
    size: portrait;
  }

  @page landscape-page {
    size: landscape;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .print_canvas {
    display: block;
  }

  .hidden_in_print {
    display: none;
  }

  body {
    background-color: white;
    width: 100%;
  }

  main {
    width: 100%;
    background-color: white !important;
    overflow: visible !important;
  }

  table tr,
  td {
    background-color: white;
  }
}