@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    /*width*/
    ::-webkit-scrollbar {
        width: 12px;
    }

    /*Track*/
    ::-webkit-scrollbar-track {
        border-radius: 20px;
        background: #e2f8e7;
    }

    /*handle*/
    ::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #4b5563;
    }

    /*Handle on hover*/
    ::-webkit-scrollbar-thumb:hover {
        background-color: #7beca5;
    }

    .chat-height {
        @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
    }

    .inbox-height {
        @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
    }
}

@layer base {
    @font-face {
        font-family: SolaimanLipi;
        src: url(/SolaimanLipi.ttf) format('truetype');
        font-display: swap;
        unicode-range: U+0980-09FF;
        /* src: url(/SolaimanLipi.ttf) format('ttf'); */
    }
}